/* 로딩 이미지 스타일 */
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #0F1923;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
}

#loading img {
    width: 100px;
    height: 100px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #0F141A;
    margin: 0;
}

.profile-container {
    width: 100vw;
    margin: 0 auto;
}

.top-box{
    width: 100vw;
    height: 50px;
    background-color: #0F1923;
    
}

.top-box img{
    height: 50px;
    margin-left: 5px;
}

.search-container {
    position: absolute;
    top: 9px;
    right: 50px;
    border-radius: 24px;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
}

#search-box::placeholder {
    color: #0F1923;
    padding-left: 5px;
}

.search-container #search-box {
    border-radius: 3%;
    background-color: #a4b6d4;
    caret-color:#0F1923;
    border: none;
    box-shadow: 0px 0px 1px 1px rgb(46, 46, 46);
    color: #1c252e;
    padding: 7px;
}

.searchs img{
    position: absolute;
    height: 30px;
    padding: 0px;
    top: 0px;
    right: -40px;


}

.background {
    /* background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg); */
    background-size: cover; /* Ensure the image covers the container */
    background-position: 50% 20%; /* Center the image */
    height: 290px; /* Set the fixed height */
    width: 100vw; 
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.sub-background {
    background-color: #0F1923;
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid #1B2733;
}

.profile-header {
    display: flex;
    align-items: center;
    position: relative;
    top: 53%;
    width: 100vw;
    max-width: 1400px; /* 컨테이너의 최대 너비를 설정 */
    align-items: start;
    margin: 1rem auto;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px; /* 각 요소 사이의 간격을 조절할 수 있습니다 */

    max-width: 1400px;
}

.profile-info img{
    width: 105px;
    float: left;
    border-radius: 100%;
    border: 5px #a4b6d4;
    border-style: solid;
}


#claim-profile {
    position: absolute;
    width: 165px;
    height: 40px;
    top: 80px;
    right: 10px;
    border-radius: 5%;
    background-color: #1B2733;
    border: none;
    box-shadow: 0px 0px 1px 1px #10171f;
    color:#a4b6d4;
    font-size: 17px;
    white-space: nowrap;
    text-align: left;
    padding: 10px;
}

#refresh-form img{
    position: absolute;
    top: 86px;
    right: 14px;
    width: 30px;
    height: 25px;
}

#claim-profile:hover {
    background-color: #0F141A;
    box-shadow: 0px 0px 1px 1px #1B2733;
    color:#a4b6d4;
}

.row {
    display: flex;
    gap: 10px; /* 각 요소 사이의 간격을 조절할 수 있습니다 */
}

.game-name .name {
    position: relative;
    font-size: 50px;
    color:#a4b6d4;
    margin-left: 10px;
    text-shadow: -1px 0 #737c8b, 0 1px #737c8b, 1px 0 #737c8b, 0 -1px #737c8b;
}

.game-name .tagline {
    position: relative;
    font-size: 50px;
    color:#a4b6d4;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 8px;
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 10%;
    text-shadow: -1px 0 #737c8b, 0 1px #737c8b, 1px 0 #737c8b, 0 -1px #737c8b;
}

.inGame.Offline{
    position: relative;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    color:#737c8b;
}

.inGame.Online {
    position: relative;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    color:#4CAF50;
}

.game-name .level {
    position: relative;
    font-size: 29px;
    margin-left: 20px;
    margin-top: 20px;
    color:#a4b6d4;
}

.profile-info .game-name img {
    position: absolute;
    width: 15%;
    float: none;
    border-radius: 0;
    border: none;
    margin-left: 250px;
    margin-top: 20px;
}

.main-container {
    display: flex;
    /* grid-template-columns: 100vw; */
    align-items: start;

    position: static;
    max-width: 1400px;
    width: calc(100% - 2rem);
    margin: 1rem auto;
}

.sub-data {
    width: 332px;
}

.tier {
    background-color: #0F1923;
    height: 145px;
    border: 1px solid #1B2733;
    
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-bottom: 10px;
}

.tier-title {
    display: flex;
    background-color: #0F1923;
    height: 60px;
    border: 1px solid #1B2733;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0;
    align-items: center;
}

.tier-title img{
    width: 40px;
    height: 30px;
    margin-left: 15px;
    padding: 0px;
}

.tier-title p{
    margin-left: 0px;
    color:#a4b6d4;
    font-size: 25px;
}

.tier p {
    font-size: 40px;
    margin: 0px;
    margin-left: 30px;
    padding-top: 10px;
}

.descript {
    display: flex;
    align-items: center;
}

.tier.tier-img {
    margin-right: 10px;
}

.tier-img img{
    width: 120px;
    padding: 10px;
    margin: 0px; 
    margin-top: 10px;
    margin-right: 10px;
}

.ranks {
    flex: 1;
    flex-direction: column;
    margin-right: 30px;
}

.ranks .rank{
    display: flex;
    font-size: 20px;
    color:#a4b6d4;
    margin-left: 4px;
}

.ranks .tiers{
    display: flex;
    font-size: 20px;
    color:#a4b6d4;
}

.ranks .row {
    display: flex;
}

.ranks .point {
    position: relative;
    font-size: 50px;
    color:#a4b6d4;

}

.ranks .lp {
    position: relative;
    font-size: 20px;
    color:#a4b6d4;
    margin-top: 25px;
}

.mastery {
    background-color: #0F1923;
    height: 270px;
    border-radius: 4px;
    border: 1px solid #1B2733;
    color:#a4b6d4;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.mastery1 {
    display: flex;
    align-items: center;
    margin-bottom: 10px
}

.champ-icon img{
    width: 60px;
    padding: 10px;
    margin: 0px;
    object-fit: cover;
    border-radius: 17px;
    margin-left: 10px;
}

.mastery-icon img{
    width: 60px;
    padding: 5px;
    margin: 0px;
    object-fit: cover;
    margin-right: 10px;
}

.masterys {
    flex: 1;
    flex-direction: column;
    margin-right: 30px;
}

.masterys .name{
    display: flex;
    font-size: 20px;
    color:#a4b6d4;
    margin-left: 3px;
}

.masterys .row {
    display: flex;
}

.masterys .point {
    position: relative;
    font-size: 20px;
    color:#a4b6d4;

}

.masterys .point-text {
    position: relative;
    font-size: 20px;
    color:#a4b6d4;
}

.mastery-title {
    display: flex;
    background-color: #0F1923;
    height: 60px;
    border: 1px solid #1B2733;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0;
    align-items: center;
}

.mastery-title img{
    height: 30px;
    margin-left: 17px;
    padding: 0px;
}


.mastery-title p{
    margin-left: 7px;
    color:#a4b6d4;
    font-size: 25px;
}

/* 시작 */
.winrateTop5 {
    height: 240px;
    color:#a4b6d4;
    justify-content: center;
    align-items: center;
}

.top5 {
    position: relative; /* 부모 요소를 relative로 설정 */
    display: flex;
    align-items: center;
    background-color: #0F1923;
    border: 1px solid #1B2733;
    border-bottom: 0;
}

.winrate-champ-icon img {
    width: 40px;
    padding: 10px;
    margin: 0px;
    object-fit: cover;
    border-radius: 17px;
    padding-right: 0px;
}

.char-data {
    position: absolute; /* 자식 요소를 absolute로 설정 */
    left: calc(40px + 10px); /* 왼쪽 여백 설정 (이미지의 너비 + 이미지와 char-data 사이의 간격) */
    top: 50%; /* 부모 요소의 중앙에 배치하기 위해 top 위치를 50%로 설정 */
    transform: translateY(-50%); /* 수직 정렬을 위해 translateY(-50%) 설정 */
    width: 170px;
}

.char-data .row1 {
    position: relative; /* 자식 요소를 relative로 설정 */
    width: 45px; /* 고정 크기 설정 */
    text-align: left;
    white-space: nowrap;
    top: 30px;
    left: 10px;
}

.char-data .row2 {
    position: relative; /* 자식 요소를 relative로 설정 */
    width: 90px;
    height: 33px;
    text-align: center;
    white-space: nowrap;
    top: 2px;
    left: 90px;
}

.char-data .row3 {
    position: relative; /* 자식 요소를 relative로 설정 */
    width: 70px; /* 고정 크기 설정 */
    text-align: right;
    white-space: nowrap;
    top: -30px;
    left: 200px;
}

.char-data .name{
    display: flex;
    font-size: 20px;
    color:#a4b6d4;
}

.char-data .kda {
    position: relative;
    font-size: 16px;
    color:#a4b6d4;
    font-weight: bold;
}

.char-data .point-text {
    position: relative;
    font-size: 13px;
    color:#a4b6d4;
}

.char-data .winrate {
    position: relative;
    font-size: 15px;
    color:#a4b6d4;
}

.char-data .matches-cnt {
    position: relative;
    font-size: 12px;
    color:#a4b6d4;
}

.winrateTop5-title {
    display: flex;
    background-color: #0F1923;
    height: 60px;
    border: 1px solid #1B2733;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 0;
    align-items: center;
    margin-top: 10px;
}

.winrateTop5-title img{
    height: 40px;
    width: 35px;
    margin-left: 20px;
    padding: 0px;
}

.winrateTop5-title p{
    margin-left: 12px;
    color:#a4b6d4;
    font-size: 25px;
}

.winrateTop5-end {
    display: flex;
    background-color: #0F1923;
    height: 30px;
    border: 1px solid #1B2733;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    align-items: center;
}

/* 끝 */


.match-history {
    flex:1;
    align-items: center;
    width: 740px;
    font-family: Arial, sans-serif;
    color: #a4b6d4;
    padding-left: 10px;
}

.wins {
    background-color: #0F1923;
    height: 70px;
    font-size: 25px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #1B2733;
    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
    
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 2px;
    margin-bottom: 2px;
}

.wins img{
    width: 40px;
    height: 40px;
    padding: 0px;
}

.win-rate {
    height: 70px;
    font-size: 25px;
    margin-left: 15px;
    margin-top: 40px;
}

.match-endbox {
    background-color: #0F1923;
    height: 70px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #1B2733;
    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
    
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 3px;
}


/* .match {
    display: flex;
    align-items: center;
    background:  linear-gradient(to right, #4CAF50 , #0F1923 2%);
    padding: 10px;
    margin-bottom: 3px;
    position: relative;
    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
} */

.match.win {
    display: flex;
    align-items: center;
    background:  linear-gradient(to right, #4CAF50 , #0F1923 2%);
    padding: 10px;
    margin-bottom: 3px;
    position: relative;
    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
}

.match.lose {
    display: flex;
    align-items: center;
    background:  linear-gradient(to right, #F44336 , #0F1923 2%);
    padding: 10px;
    margin-bottom: 3px;
    position: relative;
    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
}

.match.remake {
    display: flex;
    align-items: center;
    background:  linear-gradient(to right, #6c6e75 , #0F1923 2%);
    padding: 10px;
    margin-bottom: 3px;
    position: relative;
    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
}


.match-info {
    width: 130px;
}

.match-info-top,
.match-info-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    white-space: nowrap;
}

.match-info-top {
    margin-bottom: 5px;
}

.match-info p {
    margin: 0 auto;
    margin-left: 15px;
}

.match-info-game-mode {
    font-weight: bold;
}

.match-info-win-status ,
.match-info-game-length {
    font-size: 15px;
    margin-top: 5px;
}

.main-icons {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.char-icon img{
    width: 60px; /* 부모의 너비에 맞춤 */
    /*height: 70%; /*부모의 높이에 맞춤 */
    object-fit: cover; /*이미지가 부모 크기에 맞게 조절되도록 함*/
    margin-right: 10px;
    flex-direction: column;
    display: flex;
}

.spell-icons img,
.rune-icons img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
}

.char-icon {
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.spell-icons ,
.rune-icons  {
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.match-stats1 {
    position: relative;
    flex: 1;
    flex-direction: column;
    margin-right: 20px;
    white-space: nowrap; 
    display: flex;
    align-items: center;  /* 수평 중앙 정렬 */
    justify-content: center;  /* 수직 중앙 정렬 */
}

.match-stats1-top {
    margin-bottom: 0px;
}

.match-info-kda {
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: -12px;
    margin-top: 12px;
}

.match-info-kda-rating {
    font-size: 15px;
    white-space: nowrap;
    /* margin-left: 7.5px; */
}

.match-stats2 {
    position: relative;
    flex: 1;
    flex-direction: column;
    margin-right: 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;  /* 수평 중앙 정렬 */
    justify-content: center;  /* 수직 중앙 정렬 */
}

/* .multiKills {
    margin-bottom: -12px;
    margin-top: 12px;
    background-color: #962c24;
    border-radius: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding: 2px;
    color: #c6d0e0;
} */

.multiKills.empty {
    margin-bottom: -12px;
    margin-top: 12px;
}

.multiKills.multiKill {
    margin-bottom: -12px;
    margin-top: 12px;
    background-color: #962c24;
    border-radius: 2px;
    padding-left: 3px;
    padding-right: 3px;
    padding: 2px;
    color: #c6d0e0;
}


.item-icons {
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
    
}

.row2 {
    margin-right: 40px; /* row1의 아이콘 하나의 너비만큼 왼쪽 여백 추가 */
}

.item-icons img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
}