body {
    font-family: Arial, sans-serif;
    background-color: #0F141A;
    margin: 0;
}

.profile-container {
    width: 100vw;
    margin: 0 auto;
}

.top-box{
    width: 100vw;
    height: 50px;
    background-color: #0F1923;
    
}

.top-box img{
    height: 50px;
}

.search-container {
    position: absolute;
    top: 9px;
    right: 15px;
}

.search-container #search-box,
.search-container #search-button {
    border-radius: 5%;
    background-color: #1B2733;
    border: none;
    box-shadow: 0px 0px 1px 1px rgb(46, 46, 46);
    color:#a4b6d4;
    padding: 7px;
}

.search-container #search-button:hover {
    background-color: #0F141A;
    box-shadow: 0px 0px 1px 1px rgb(46, 46, 46);
    color:#a4b6d4;
}

.background {
    /* background-image: url(https://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg); */
    background-size: cover; /* Ensure the image covers the container */
    background-position: 50% 20%; /* Center the image */
    height: 290px; /* Set the fixed height */
    width: 100vw; /* Make the background container full width */
    display: flex;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.sub-background {
    background-color: #0F1923;
    width: 100vw;
    height: 60px;
    border-bottom: 1px solid #1B2733;
}

.profile-header {
    display: flex;
    align-items: center;
    position: relative;
    top: 53%;
    width: 100vw;
    max-width: 1400px; /* 컨테이너의 최대 너비를 설정 */
    align-items: start;
    margin: 1rem auto;
}

.profile-info {
    display: flex;
    align-items: center;
    gap: 10px; /* 각 요소 사이의 간격을 조절할 수 있습니다 */

    max-width: 1400px;
}

.profile-info img{
    width: 105px;
    float: left;
    border-radius: 100%;
    border: 5px #a4b6d4;
    border-style: solid;
}


#claim-profile {
    position: absolute;
    width: 100px;
    height: 40px;
    top: 80px;
    right: 10px;
    border-radius: 5%;
    background-color: #1B2733;
    border: none;
    box-shadow: 0px 0px 1px 1px #10171f;
    color:#a4b6d4;
    font-size: 17px;
}

#claim-profile:hover {
    background-color: #0F141A;
    box-shadow: 0px 0px 1px 1px #1B2733;
    color:#a4b6d4;
}

.row {
    display: flex;
    gap: 10px; /* 각 요소 사이의 간격을 조절할 수 있습니다 */
}

.game-name .name {
    position: relative;
    font-size: 50px;
    color:#a4b6d4;
    margin-left: 10px;
    text-shadow: -1px 0 #737c8b, 0 1px #737c8b, 1px 0 #737c8b, 0 -1px #737c8b;
}

.game-name .tagline {
    position: relative;
    font-size: 50px;
    color:#a4b6d4;
    margin-left: 10px;
    padding-right: 5px;
    padding-left: 8px;
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 10%;
    text-shadow: -1px 0 #737c8b, 0 1px #737c8b, 1px 0 #737c8b, 0 -1px #737c8b;
}

.game-name .inGame {
    position: relative;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
    color:#737c8b;
}

.game-name .level {
    position: relative;
    font-size: 29px;
    margin-left: 20px;
    margin-top: 20px;
    color:#a4b6d4;
}

.profile-info .game-name img {
    position: absolute;
    width: 15%;
    float: none;
    border-radius: 0;
    border: none;
    margin-left: 250px;
    margin-top: 20px;
}

.main-container {
    display: flex;
    /* grid-template-columns: 100vw; */
    align-items: start;

    position: static;
    max-width: 1400px;
    width: calc(100% - 2rem);
    margin: 1rem auto;
}

.sub-data {
    width: 332px;
}

.tier {
    background-color: #0F1923;
    height: 170px;
    border-radius: 4px;
    border: 1px solid #1B2733;
}

.tier p {
    font-size: 40px;
    margin: 0px;
    margin-left: 30px;
    padding-top: 10px;
}

.descript {
    display: flex;
    align-items: center;
}

.tier.tier-img {
    margin-right: 10px;
}

.tier-img img{
    width: 120px;
    padding: 10px;
    margin: 0px; 
    margin-top: 10px;
    margin-right: 10px;
}

.ranks {
    flex: 1;
    flex-direction: column;
    margin-right: 30px;
}

.ranks .rank{
    display: flex;
    font-size: 20px;
    color:#a4b6d4;
}

.ranks .tiers{
    display: flex;
    font-size: 20px;
    color:#a4b6d4;
}

.ranks .row {
    display: flex;
}

.ranks .point {
    position: relative;
    font-size: 50px;
    color:#a4b6d4;

}

.ranks .lp {
    position: relative;
    font-size: 20px;
    color:#a4b6d4;
    margin-top: 25px;
}

.mastery {
    background-color: #0F1923;
    height: 240px;
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #1B2733;
    color:#a4b6d4
}


.match-history {
    flex:1;
    align-items: center;
    width: 740px;
    font-family: Arial, sans-serif;
    color: #a4b6d4;
    padding-left: 10px;
}

.win-rate {
    background-color: #0F1923;
    height: 70px;
    font-size: 25px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-top: 1px solid #1B2733;
    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
    
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 2px;

    margin-bottom: 2px;
}

.match-endbox {
    background-color: #0F1923;
    height: 70px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom: 1px solid #1B2733;
    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
    
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-bottom: 3px;
}


/* .match {
    display: flex;
    align-items: center;
    background:  linear-gradient(to right, #4CAF50 , #0F1923 2%);
    padding: 10px;
    position: relative;
    margin: 0px auto;

    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
} */

.match.win {
    display: flex;
    align-items: center;
    background:  linear-gradient(to right, #4CAF50 , #0F1923 2%);
    padding: 10px;
    margin-bottom: 3px;
    position: relative;
    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
}

.match.lose {
    display: flex;
    align-items: center;
    background:  linear-gradient(to right, #F44336 , #0F1923 2%);
    padding: 10px;
    margin-bottom: 3px;
    position: relative;
    border-left: 1px solid #1B2733;
    border-right: 1px solid #1B2733;
}

/* 테스트용 주석 */

.match-info-top,
.match-info-bottom {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
    white-space: nowrap;
}

.match-info-top {
    margin-bottom: 5px;
}

.match-info p {
    margin: 0 auto;
    margin-left: 15px;
}

.match-info-game-mode {
    font-weight: bold;
}

.match-info-win-status ,
.match-info-game-length {
    font-size: 15px;
    margin-top: 5px;
}

.main-icons {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.char-icon img{
    width: 60px; /* 부모의 너비에 맞춤 */
    /*height: 70%; /*부모의 높이에 맞춤 */
    object-fit: cover; /*이미지가 부모 크기에 맞게 조절되도록 함*/
    margin-right: 10px;
    flex-direction: column;
    display: flex;
}

.spell-icons img,
.rune-icons img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
}

.char-icon {
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
}

.spell-icons ,
.rune-icons  {
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.match-stats1 {
    position: relative;
    flex: 1;
    flex-direction: column;
    margin-right: 20px;
    white-space: nowrap; 
    display: flex;
    align-items: center;  /* 수평 중앙 정렬 */
    justify-content: center;  /* 수직 중앙 정렬 */
}

.match-stats1-top {
    margin-bottom: 0px;
}

.match-info-kda {
    font-size: 20px;
    white-space: nowrap;
    font-weight: bold;
    margin-bottom: -12px;
    margin-top: 12px;
}

.match-info-kda-rating {
    font-size: 15px;
    white-space: nowrap;
    /* margin-left: 7.5px; */
}

.match-stats2 {
    position: relative;
    flex: 1;
    flex-direction: column;
    margin-right: 20px;
    white-space: nowrap;
    display: flex;
    align-items: center;  /* 수평 중앙 정렬 */
    justify-content: center;  /* 수직 중앙 정렬 */
}

.multiKills.empty {
    margin-bottom: -12px;
    margin-top: 12px;
}

.multiKills.multiKill {
    margin-bottom: -12px;
    margin-top: 12px;
    background-color: #DB3E33;
    border-radius: 10px;
    padding-left: 3px;
    padding-right: 3px;
    padding: 2px;
}

.item-icons {
    flex:1;
    display: flex;
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
    
}

.row2 {
    margin-right: 40px; /* row1의 아이콘 하나의 너비만큼 왼쪽 여백 추가 */
}

.item-icons img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    border-radius: 5px;
}