<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple.GG</title>
    <link rel="stylesheet" href="/static/main_styles.css">
    
</head>
<body>
    <!-- 로딩 이미지 -->
    <div id="loading">
        <img src="/static/images/Spin.gif" alt="Loading...">
    </div>
    {% block content %}

    <header>
        <nav>
            <ul>
                <li><a href="#"><p onclick="alert('추후 구현 예정')">&nbsp; 통계 </p></a></li>
                
                <li><a href="#"><p onclick="alert('추후 구현 예정')"> 랭킹 </p></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="logo">
            <img src="/static/images/Alogo.png" alt="simplegg Logo">
        </div>
        <div class="search-container">
            <form id='profileForm' action="/profile/" method="post" style="display: flex; justify-content: center;">
                <div style="display: flex; align-items: center;">
                    <div class='searchs' style="position: relative;">
                        <img src="/static/images/search.png">
                        <input type="text" id="search-box" name="inputs" placeholder="플레이어 이름 + #태그">
                    </div>
                    <input type="hidden" name="action" value="POST_main">
                </div>
            </form>
        </div>
    </main>

    {% endblock %}
    <script>
        // 모든 콘텐츠가 로드된 후 로딩 이미지를 숨김
        window.addEventListener('DOMContentLoaded', function() {
            console.log('DOMContentLoaded - hide');
            document.getElementById('loading').style.display = 'none';
        });
    
        // 폼 제출 시 로딩 이미지를 표시
        document.getElementById('profileForm').addEventListener('submit', function() {
            console.log('profileForm - show');
            document.getElementById('loading').style.display = 'flex';
        });
    
        // 뒤로가기로 페이지가 로드될 때 발생하는 이벤트
        window.addEventListener('pageshow', handlePageShow);
    
        function handlePageShow(event) {
            console.log('pageshow - hide');
            if (event.persisted) {
                // 새로 로드된 페이지인지 확인
                if (performance.navigation.type === 2) {
                    // 페이지가 완전히 로드되었을 때 로딩 이미지를 숨김
                    document.getElementById('loading').style.display = 'none';
                } else {
                    // 캐시된 페이지인 경우 기존의 로딩 이미지를 숨김
                    document.getElementById('loading').style.display = 'none';
                }
            }
        }
    </script>

    <!-- Message Flashing -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{messages[-1]}}")
            </script>
        {% endif %}
    {% endwith %}
</body>

</html>