<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='profile_styles.css') }}"> -->
    <link rel="stylesheet" href="/static/profile_styles v4.css">
</head>
<body>
    <div class="profile-container">
        <div class="top-box">
            <div class="logo">
                <img src="/static/images/logo.png" alt="simplegg Logo">
            </div>
            <div class="search-container">
                <form action="/profile/" method="post" style="display: flex; justify-content: center;">
                    <div style="display: flex; align-items: center;">
                        <input type="text" id="search-box" name="inputs" placeholder="플레이어 이름 + #태그">
                        <button type="submit" id="search-button">Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="background" style="background-image: url('{{ profileData.champbackground }}');">
            <div class="profile-header">
                <div class="profile-info">
                    <img src="{{ profileData.icon }}" alt="background-champ">
                    <div class="game-name">
                        <div class="row">
                            <div class="name"><span>{{ profileData.name }}</span></div>
                            <div class="tagline"><span>#{{ profileData.tagline }}</span></div>
                        </div>
                        <div class="row">
                            <div class="level"><span>LV. {{ profileData.level }}</span></div>
                            <div class="inGame {{ 'Online' if profileData.inGame == 'Online' else 'Offline' }}"><span>{{ profileData.inGame }}</span></div>
                        </div>
                    </div>
                </div>
                <form id="refresh-form" action="/profile/" method="POST2">
                    <button type="button" id="claim-profile">전적 갱신</button>
                </form>
            </div>
        </div>
        <div class="sub-background"> </div>
    </div>
    
    <div class="main-container">
        <div class="sub-data">
            <div class="tier">
                <div class="descript">
                    <div class="tier-img">
                        <img src="{{ profileData.tierIcon }}" alt="tier img">
                    </div>

                    <div class="ranks">
                        <div class="rank"><span>{{ profileData.tier }} {{profileData.rank}}</span></div>
                        <div class="row">
                            <div class="point"><span>{{ profileData.lp }}</span></div>
                            <div class="lp"><span>LP</span></div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="mastery">
                <p>숙련도 구현해야함</p>
            </div>
            
        </div>

        <div class="match-history">
            <div class="win-rate"> 최근 20판 - 20전 {{ profileData.win }}승 {{ profileData.lose }}패 ( {{ profileData.winRate }}% ) </div>
            {% for match in matchHistory %}
            <div class="match {{ 'win' if match.win == 'win' else 'lose' }}">

                <div class="match-info">
                    <div class="match-info-top">
                        <p class="match-info-game-mode">{{ match.gameMode }}</p>
                    </div>
                    <div class="match-info-bottom">
                        <p class="match-info-win-status">{{ match.win }}</p>
                        <p class="match-info-game-length">{{ match.gameLength }}분</p>
                    </div>
                    
                </div>

                <div class="main-icons">
                    <div class="char-icon">
                        <img src="{{ match.champIcon }}" alt="champIcon" class="champ-icon">
                    </div>
                    
                    <div class="spell-icons">
                        <img src="{{ match.spell1Icon }}" alt="spell1Icon icon">
                        <img src="{{ match.spell2Icon }}" alt="spell2Icon icon">
                    </div>
    
                    <div class="rune-icons">
                        <img src='{{ match.rune1Icon }}' alt="rune1Icon icon">
                        <img src='{{ match.rune2Icon }}' alt="rune2Icon icon">
                    </div>
    
                </div>
                    
                <div class="match-stats1">
                    <p class="match-info-kda">{{ match.kills }} / {{ match.deaths }} / {{ match.assists }}</p>
                    <p class="match-info-kda-rating">{{ match.kda }} 평점</p>
                </div>
                <div class="match-stats2">
                    <p class="multiKills {{ 'empty' if match.multiKills == ' ' else 'multiKill' }}"> {{ match.multiKills }} </p>
                    <p class="match-info cs">CS {{ match.cs }}</p>
                </div>

                <div class="item-icons">
                    <div class="row1">
                        <img src="{{ match.item0Icon }}" alt="item0Icon icon">
                        <img src="{{ match.item1Icon }}" alt="item1Icon icon">
                        <img src="{{ match.item2Icon }}" alt="item2Icon icon">
                        <img src="{{ match.item6Icon }}" alt="item6Icon icon">
                    </div>
                    <div class="row2">
                        <img src="{{ match.item3Icon }}" alt="item3Icon icon">
                        <img src="{{ match.item4Icon }}" alt="item4Icon icon">
                        <img src="{{ match.item5Icon }}" alt="item5Icon icon">
                    </div>
                </div>

            </div>
            {% endfor %}
            <div class="match-endbox"></div>
        </div>
    </div>

    <div class="footer">

    </div>

</body>
</html>
