<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile_styles.css') }}">
</head>
<body>
    <div class="profile-container">
        <div class="background" style="background-image: url('{{ profileData.champbackground }}');">
            <div class="profile-header">
                <div class="profile-info">
                    <img src="{{ profileData.icon }}" alt="profile icon">
                    <div class="game-name">
                        <div class="row">
                            <div class="name"><span>{{ profileData.name }}</span></div>
                            <div class="tagline"><span>#{{ profileData.tagline }}</span></div>
                        </div>
                        <div class="row">
                            <div class="level"><span>LV. {{ profileData.level }}</span></div>
                            <div class="inGame {{ 'Online' if profileData.inGame == 'Online' else 'Offline' }}"><span>{{ profileData.inGame }}</span></div>
                            <img src="{{ profileData.tierIcon }}" alt="tier icon">
                        </div>
                    </div>
                </div>
            </div>
            <button type="button" id="claim-profile">Claim profile</button>
        </div>
        <div class="sub-background"> </div>
    </div>
            <!-- <p class="info">Tier: <span>{{ profileData.tier }}</span></p>
            <p class="info">Win Rate last 20 games: <span>{{ profileData.winRate }} ({{ profileData.win }} wins - {{ profileData.lose }} loses)</span></p> -->
    
    <!-- <div class="sub-data">
        <div class="tier">
            <img src="static\images\rank\Rank=Master.png" alt="profile icon">
            <div class="rank"><span>matser</span></div>
                <div class="row">
                    <div class="point"><span>1,210</span></div>
                    <div class="lp"><span>LP</span></div>
                </div>
        </div>
        <div class="mastery">

        </div>
    </div> -->


    <div class="match-history">
        {% for match in matchHistory %}
        <div class="match {{ 'win' if match.win == 'win' else 'lose' }}">

            <div class="match-info">
                <div class="match-info-top">
                    <p class="match-info-game-mode">{{ match.gameMode }}</p>
                </div>
                <div class="match-info-bottom">
                    <p class="match-info-win-status">{{ match.win }}</p>
                    <p class="match-info-game-length">{{ match.gameLength }}분</p>
                </div>
            </div>

            <div class="main-icons">
                <div class="char-icon">
                    <img src="{{ match.champIcon }}" alt="champIcon" class="champ-icon">
                </div>
                
                <div class="spell-icons">
                    <img src="{{ match.spell1Icon }}" alt="spell1Icon icon">
                    <img src="{{ match.spell2Icon }}" alt="spell2Icon icon">
                </div>

                <div class="rune-icons">
                    <img src='{{ match.rune1Icon }}' alt="rune1Icon icon">
                    <img src='{{ match.rune2Icon }}' alt="rune2Icon icon">
                </div>

            </div>
                
            <div class="match-stats1">
                <p class="match-info-kda">{{ match.kills }} / {{ match.deaths }} / {{ match.assists }}</p>
                <p class="match-info-kda-rating">{{ match.kda }} 평점</p>
            </div>
            <div class="match-stats2">
                <p class="multiKills {{ 'empty' if match.multiKills == ' ' else 'multiKill' }}">{{ match.multiKills }}</p>
                <p class="match-info cs">CS {{ match.cs }}</p>
            </div>

            <div class="item-icons">
                <div class="row1">
                    <img src="{{ match.item0Icon }}" alt="item0Icon icon">
                    <img src="{{ match.item1Icon }}" alt="item1Icon icon">
                    <img src="{{ match.item2Icon }}" alt="item2Icon icon">
                    <img src="{{ match.item6Icon }}" alt="item6Icon icon">
                </div>
                <div class="row2">
                    <img src="{{ match.item3Icon }}" alt="item3Icon icon">
                    <img src="{{ match.item4Icon }}" alt="item4Icon icon">
                    <img src="{{ match.item5Icon }}" alt="item5Icon icon">
                </div>
            </div>

        </div>
        {% endfor %}
    </div>

</body>
</html>
