<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ profileData.name }}#{{ profileData.tagline }} - Profile</title>
    <link rel="stylesheet" href="/static/profile_styles.css">

    <!-- Message Flashing -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{messages[-1]}}")
            </script>
        {% endif %}
    {% endwith %}
</head>
<body>
     <!-- 로딩 이미지 -->
     <div id="loading">
        <img src="/static/images/Spin.gif" alt="Loading...">
    </div>

    {% block content %}
    
    <div class="profile-container">
        <div class="top-box">
            <div class="logo">
                <a href="{{ url_for('index') }}">
                    <img src="/static/images/logo.png" alt="simplegg Logo">
                </a>
            </div>
            <div class="search-container">
                <form action="/profile/" method="post" style="display: flex; justify-content: center;">
                    <div style="display: flex; align-items: center;">
                        <div class='searchs' style="position: relative;">
                            <img src="/static/images/search.png">
                            <input type="text" id="search-box" name="inputs" placeholder="플레이어 이름 + #태그">
                        </div>
                        <input type="hidden" name="action" value="POST1">
                    </div>
                </form>
            </div>
        </div>
        <div class="background" style="background-image: url('{{ profileData.champbackground }}');">
            <div class="profile-header">
                <div class="profile-info">
                    <img src="{{ profileData.icon }}" alt="background-champ">
                    <div class="game-name">
                        <div class="row">
                            <div class="name"><span>{{ profileData.name }}</span></div>
                            <div class="tagline"><span>#{{ profileData.tagline }}</span></div>
                        </div>
                        <div class="row">
                            <div class="level"><span>LV. {{ profileData.level }}</span></div>
                            <div class="inGame {{ 'Online' if profileData.inGame == 'Online' else 'Offline' }}"><span>{{ profileData.inGame }}</span></div>
                        </div>
                    </div>
                </div>
                <form id="refresh-form" action="/profile/" method="post">
                    <input type="hidden" name="action" value="POST2">
                    <input type="hidden" name="inputs" value="{{ inputBuffer }}">
                    <button type="submit" id="claim-profile">Profile Updates</button>
                    <img src="/static/images/autorenew.png">
                </form>
            </div>
        </div>
        <div class="sub-background"> </div>
    </div>
    
    <div class="main-container">
        <div class="sub-data">
            <div class="tier-title">
                <img src="/static/images/rating.png">
                <p>Current Rating</p>
            </div>
            <div class="tier">
                <div class="descript">
                    <div class="tier-img">
                        <img src="{{ profileData.tierIcon }}" alt="tier img">
                    </div>

                    <div class="ranks">
                        <div class="rank"><span>{{ profileData.tier }} {{profileData.rank}}</span></div>
                        <div class="row">
                            <div class="point"><span>{{ profileData.lp }}</span></div>
                            <div class="lp"><span>LP</span></div>
                        </div>
                    </div>

                </div>

            </div>
            
            <div class="mastery-title">
                <img src="/static/images/mastery.png">
                <p>Mastery Points</p>
            </div>
            <div class="mastery">
                {% for masterys in profileData.mastery %}
                <div class="mastery1">
                    <div class="champ-icon">
                        <img src="{{ masterys.champIcon }}" alt="champ img">
                    </div>
                    <div class="mastery-icon">
                        <img src="{{ masterys.masteryIcon }}" alt="champ img">
                    </div>
                    <div class="masterys">
                        <div class="name"><span>{{masterys.championName}}</span></div>
                        <div class="row">
                            <div class="point"><span>{{masterys.championPoints}}</span></div>
                            <div class="point-text"><span>points</span></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="winrateTop5-title">
                <img src="/static/images/top.png">
                <p>Top Champions</p>
            </div>

            <div class="winrateTop5">
                {% for data in winrateTop5Data %}
                <div class="top5">
                    <div class="winrate-champ-icon">
                        <img src="{{ data.championIcon }}" alt="champ img">
                    </div>
                    <div class="char-data">
                        <div class="row1">
                            <div class="name"><span>{{ data.championName }}</span></div>
                        </div>
                        <div class="row2">
                            <div class="kda"><span>{{ data.kda }}:1 KDA</span></div>
                            <div class="point-text"><span>{{ data.total_kills }} / {{ data.total_deaths }} / {{ data.total_assists }}</span></div>
                        </div>
                        <div class="row3">
                            <div class="winrate"><span>{{ data.winRate }}%</span></div>
                            <div class="matches-cnt"><span>{{ data.total_wins+data.total_loses }} matches</span></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="winrateTop5-end">
                </div>
            </div>
            
        </div>

        <div class="match-history">
            <div class="wins">
                <img src="/static/images/matches.png">
                <div class="win-rate">Last {{ profileData.win+profileData.lose }} Matches - {{ profileData.win }}W {{ profileData.lose }}L ( {{ profileData.winRate }}% ) </div>
            </div>
            {% for match in matchHistory %}
            
            <div class="match {% if match.win == 'win' %}
                     win
                 {% elif match.win == 'Remake' %}
                     remake
                 {% else %}
                     lose
                 {% endif %}">

                <div class="match-info">
                    <div class="match-info-top">
                        <p class="match-info-game-mode">{{ match.gameMode }}</p>
                    </div>
                    <div class="match-info-bottom">
                        <p class="match-info-win-status">{{ match.win }}</p>
                        <p class="match-info-game-length">{{ match.gameLength }}Min</p>
                    </div>
                    
                </div>

                <div class="main-icons">
                    <div class="char-icon">
                        <img src="{{ match.champIcon }}" alt="champIcon" class="champ-icon">
                    </div>
                    
                    <div class="spell-icons">
                        <img src="{{ match.spell1Icon }}" alt="spell1Icon icon">
                        <img src="{{ match.spell2Icon }}" alt="spell2Icon icon">
                    </div>
    
                    <div class="rune-icons">
                        <img src='{{ match.rune1Icon }}' alt="rune1Icon icon">
                        <img src='{{ match.rune2Icon }}' alt="rune2Icon icon">
                    </div>
    
                </div>
                    
                <div class="match-stats1">
                    <p class="match-info-kda">{{ match.kills }} / {{ match.deaths }} / {{ match.assists }}</p>
                    <p class="match-info-kda-rating">{{ match.kda }} KDA</p>
                </div>
                <div class="match-stats2">
                    <p class="multiKills {{ 'empty' if match.multiKills == ' ' else 'multiKill' }}"> {{ match.multiKills }} </p>
                    <p class="match-info-cs">CS {{ match.cs }} ({{match.csPerMin}})</p>
                </div>

                <div class="item-icons">
                    <div class="row1">
                        <img src="{{ match.item0Icon }}" alt="item0Icon icon">
                        <img src="{{ match.item1Icon }}" alt="item1Icon icon">
                        <img src="{{ match.item2Icon }}" alt="item2Icon icon">
                        <img src="{{ match.item6Icon }}" alt="item6Icon icon">
                    </div>
                    <div class="row2">
                        <img src="{{ match.item3Icon }}" alt="item3Icon icon">
                        <img src="{{ match.item4Icon }}" alt="item4Icon icon">
                        <img src="{{ match.item5Icon }}" alt="item5Icon icon">
                    </div>
                </div>

            </div>
            {% endfor %}
            <div class="match-endbox"></div>
        </div>
    </div>

    {% endblock %}

    <script>
        // 페이지가 로드되기 전 로딩 이미지를 표시
        window.addEventListener('beforeunload', function() {
            document.getElementById('loading').style.display = 'flex';
        });

        // 모든 콘텐츠가 로드된 후 로딩 이미지를 숨김
        window.addEventListener('DOMContentLoaded', function() {
            document.getElementById('loading').style.display = 'none';
        });

        // 폼 제출 시 로딩 이미지를 표시
        document.getElementById('profileForm').addEventListener('submit', function() {
            document.getElementById('loading').style.display = 'flex';
        });

        // 뒤로가기 버튼을 클릭할 때 페이지 로드가 완료됐을 때를 검사하여 로딩 이미지를 숨깁니다.
        window.addEventListener('pageshow', function(event) {
            if (event.persisted) {
                document.getElementById('loading').style.display = 'none';
            }
        });
    </script>
</body>
</html>
