<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Profile</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='profile_styles.css') }}"> -->
    <link rel="stylesheet" href="/static/profile_styles v5 test.css">
    <!-- Message Flashing -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <script>
                alert("{{messages[-1]}}")
            </script>
        {% endif %}
    {% endwith %}
</head>
<body>
    
    <div class="profile-container">
        <div class="top-box">
            <div class="logo">
                <img src="/static/images/logo.png" alt="simplegg Logo">
            </div>
            <div class="search-container">
                <form action="/profile/" method="post" style="display: flex; justify-content: center;">
                    <div style="display: flex; align-items: center;">
                        <input type="text" id="search-box" name="inputs" placeholder="Player + #tag">
                        <input type="hidden" name="action" value="POST1">
                    </div>
                </form>
            </div>
        </div>
        <div class="background" style="background-image: url('https://imgsvc.trackercdn.com/url/max-width(2880),quality(66)/https%3A%2F%2Ftrackercdn.com%2Fcdn%2Ftracker.gg%2Flol%2Fchampions%2F63%2Fskins%2F2-splash.png/image.jpg');">
            <div class="profile-header">
                <div class="profile-info">
                    <img src="https://imgsvc.trackercdn.com/url/size(128),fit(cover)/https%3A%2F%2Ftrackercdn.com%2Fddragon%2Fcdn%2F14.10.1%2Fimg%2Fprofileicon%2F1378.png/image.jpg" alt="background-champ">
                    <div class="game-name">
                        <div class="row">
                            <div class="name"><span>Viroer</span></div>
                            <div class="tagline"><span>#kr1</span></div>
                        </div>
                        <div class="row">
                            <div class="level"><span>LV. 212</span></div>
                            <div class="inGame"><span>online</span></div>
                        </div>
                    </div>
                </div>
                <form id="refresh-form" action="/profile/" method="post">
                    <input type="hidden" name="action" value="POST2">
                    <input type="hidden" name="inputs" value="{{ inputBuffer }}">
                    <button type="submit" id="claim-profile">Profile Updates</button>
                </form>
            </div>
        </div>
        <div class="sub-background"> </div>
    </div>
    
    <div class="main-container">
        <div class="sub-data">
            <div class="tier-title">
                <p>Current Rating</p>
            </div>
            <div class="tier">
                <div class="descript">
                    <div class="tier-img">
                        <img src="/static/images/rank/Rank=EMERALD.png" alt="tier img">
                    </div>

                    <div class="ranks">
                        <div class="rank"><span>DIAMOND 3</span></div>
                        <div class="row">
                            <div class="point"><span>1,210</span></div>
                            <div class="lp"><span>LP</span></div>
                        </div>
                    </div>

                </div>

            </div>
            
            <div class="mastery-title">
                <p>Mastery Points</p>
            </div>
            <div class="mastery">
                {% for masterys in profileData.mastery %}
                <div class="mastery1">
                    <div class="champ-icon">
                        <img src="https://ddragon.leagueoflegends.com/cdn/14.10.1/img/champion/Aatrox.png" alt="champ img">
                    </div>
                    <div class="mastery-icon">
                        <img src="/static/images/mastery/Mastery_Level_10_Crest.png" alt="champ img">
                    </div>
                    <div class="masterys">
                        <div class="name"><span>Pyke</span></div>
                        <div class="row">
                            <div class="point"><span>104,637</span></div>
                            <div class="point-text"><span>points</span></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="winrateTop5-title">
                <p>Top Champions</p>
            </div>

            <div class="winrateTop5">
                {% for data in winrateTop5Data %}
                <div class="top5">
                    <div class="winrate-champ-icon">
                        <img src="https://ddragon.leagueoflegends.com/cdn/14.10.1/img/champion/Aatrox.png" alt="champ img">
                    </div>
                    <div class="char-data">
                        <div class="row1">
                            <div class="name"><span>Pyke</span></div>
                        </div>
                        <div class="row2">
                            <div class="kda"><span>3.86:1 KDA</span></div>
                            <div class="point-text"><span>10.3 / 4.4 / 6.6</span></div>
                        </div>
                        <div class="row3">
                            <div class="winrate"><span>71%</span></div>
                            <div class="matches-cnt"><span>40 matches</span></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="winrateTop5-end">
                </div>
            </div>
            
        </div>

        <div class="match-history">
            <div class="win-rate"> Last 20 Matches - 10W 5L ( 50% ) </div>
            {% for match in matchHistory %}
            
            <div class="match {{ 'win' if match.win == 'win' else 'lose' }}">

                <div class="match-info">
                    <div class="match-info-top">
                        <p class="match-info-game-mode">Ranked Solo</p>
                    </div>
                    <div class="match-info-bottom">
                        <p class="match-info-win-status">win</p>
                        <p class="match-info-game-length">19 Min</p>
                    </div>
                    
                </div>

                <div class="main-icons">
                    <div class="char-icon">
                        <img src="https://ddragon.leagueoflegends.com/cdn/14.10.1/img/champion/Aatrox.png" alt="champIcon" class="champ-icon">
                    </div>
                    
                    <div class="spell-icons">
                        <img src="https://trackercdn.com/cdn/tracker.gg/lol/spells/7.png" alt="spell1Icon icon">
                        <img src="https://trackercdn.com/cdn/tracker.gg/lol/spells/4.png" alt="spell2Icon icon">
                    </div>

                    <div class="rune-icons">
                        <img src='https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/Domination/DarkHarvest/DarkHarvest.png' alt="rune1Icon icon">
                        <img src='https://ddragon.leagueoflegends.com/cdn/img/perk-images/Styles/7201_Precision.png' alt="rune2Icon icon">
                    </div>

                </div>
                    
                <div class="match-stats1">
                    <p class="match-info-kda">20 / 5 / 5</p>
                    <p class="match-info-kda-rating">5.00 KDA</p>
                </div>
                <div class="match-stats2">
                    <p class="multiKills {{ 'empty' if match.multiKills == ' ' else 'multiKill' }}"> 트리플킬 </p>
                    <p class="match-info-cs">CS 72 (5.2)</p>
                </div>

                <div class="item-icons">
                    <div class="row1">
                        <img src='https://ddragon.leagueoflegends.com/cdn/14.10.1/img/item/6676.png' alt="item0Icon icon">
                        <img src='https://ddragon.leagueoflegends.com/cdn/14.10.1/img/item/3042.png' alt="item1Icon icon">
                        <img src='https://ddragon.leagueoflegends.com/cdn/14.10.1/img/item/3158.png' alt="item2Icon icon">
                        <img src='https://ddragon.leagueoflegends.com/cdn/14.10.1/img/item/2052.png' alt="item6Icon icon">
                    </div>
                    <div class="row2">
                        <img src='https://ddragon.leagueoflegends.com/cdn/14.10.1/img/item/6692.png' alt="item3Icon icon">
                        <img src='https://ddragon.leagueoflegends.com/cdn/14.10.1/img/item/2020.png' alt="item4Icon icon">
                        <img src='https://ddragon.leagueoflegends.com/cdn/14.10.1/img/item/1036.png' alt="item5Icon icon">
                        
                    </div>
                </div>

            </div>
            {% endfor %}
            <div class="match-endbox"></div>
        </div>
    </div>

    <div class="footer">

    </div>

</body>
</html>
