<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile_styles.css') }}">
</head>
<body>
    <div class="profile-container">
        <div class="profile-info">
            <img src="{{ profileData.icon }}" alt="profile icon">
            <p class="info">Name: <span>{{ profileData.name }}</span></p>
            <p class="info">Level: <span>{{ profileData.level }}</span></p>
            <p class="info">Tier: <span>{{ profileData.tier }}</span></p>
            <p class="info">Win Rate last 20 games: <span>{{ profileData.winRate }} ({{ profileData.win }} wins - {{ profileData.lose }} loses)</span></p>
            <p class="info">In Game: <span>{{ profileData.inGame }}</span></p>
        </div>

        <div class="match-history">
            <h2>최근 게임</h2>
            {% for match in matchHistory %}
            <div class="match {{ 'win' if match.win == 'win' else 'loss' }}">
                <div class="match-header">
                    <p class="match-info game-mode">{{ match.gameMode }}</p>
                    <p class="match-info win-status">{{ match.win }}</p>
                    <p class="match-info game-length">{{ match.gameLength }}분</p>
                </div>
                <div class="match-stats">
                    <p class="match-info kda">{{ match.kills }} / {{ match.deaths }} / {{ match.assists }}</p>
                    <p class="match-info kda-rating">{{ match.kda }} 평점</p>
                    <p class="match-info cs">CS {{ match.cs }}</p>
                </div>
                <div class="match-icons">
                    <img src="{{ match.champIcon }}" alt="champIcon" class="champ-icon">
                    <div class="items">
                        <img src="{{ match.item0Icon }}" alt="item0Icon icon">
                        <img src="{{ match.item1Icon }}" alt="item1Icon icon">
                        <img src="{{ match.item2Icon }}" alt="item2Icon icon">
                        <img src="{{ match.item3Icon }}" alt="item3Icon icon">
                        <img src="{{ match.item4Icon }}" alt="item4Icon icon">
                        <img src="{{ match.item5Icon }}" alt="item5Icon icon">
                        <img src="{{ match.item6Icon }}" alt="item6Icon icon">
                    </div>
                    <div class="spells-runes">
                        <img src="{{ match.spell1Icon }}" alt="spell1Icon icon">
                        <img src="{{ match.spell2Icon }}" alt="spell2Icon icon">
                        <img src="{{ match.rune1Icon }}" alt="rune1Icon icon">
                        <img src="{{ match.rune2Icon }}" alt="rune2Icon icon">
                    </div>
                </div>
                <div class="match-footer">
                    <span class="game-result">{{ match.win }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</body>
</html>
