<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='profile_styles.css') }}">
</head>
<body>
    <div class="profile-container">
        <div class="profile-info">
            <img src="{{ profileData.icon }}" alt="profile icon">
            <p class="info">Name: <span>{{ profileData.name }}</span></p>
            <p class="info">Level: <span>{{ profileData.level }}</span></p>
            <p class="info">Tier: <span>{{ profileData.tier }}</span></p>
            <p class="info">Win Rate last 20 games: <span>{{ profileData.winRate }} ({{ profileData.win }} wins - {{ profileData.lose }} loses)</span></p>
            <p class="info">In Game: <span>{{ profileData.inGame }}</span></p>
        </div>

        <div class="match-history">
            <h2>최근 게임</h2>
            {% for match in matchHistory %}
            <div class="match">
                <p class="match-info"><span>{{ match.gameMode }}</span></p>
                <p class="match-info"><span>{{ match.win }}</span></p>
                <p class="match-info"><span>{{ match.gameLength }}분</span></p>
                <p class="match-info"><span>{{ match.kills }} / {{ match.deaths }} / {{ match.assists }}</span></p>
                <p class="match-info"><span>{{ match.kda }} 평점</span></p>
                <p class="match-info"><span>CS {{ match.cs }}</span></p>
                
                <img src="{{ match.champIcon }}" alt="champIcon">
                <img src="{{ match.item0Icon }}" alt="item0Icon icon">
                <img src="{{ match.item1Icon }}" alt="item1Icon icon">
                <img src="{{ match.item2Icon }}" alt="item2Icon icon">
                <img src="{{ match.item3Icon }}" alt="item3Icon icon">
                <img src="{{ match.item4Icon }}" alt="item4Icon icon">
                <img src="{{ match.item5Icon }}" alt="item5Icon icon">
                <img src="{{ match.item6Icon }}" alt="item6Icon icon">
                <img src="{{ match.spell1Icon }}" alt="spell1Icon icon">
                <img src="{{ match.rune1Icon }}" alt="rune1Icon icon">
                <img src="{{ match.rune2Icon }}" alt="rune2Icon icon">
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>
